# Data Analysis Homework 1: Pandas and Numpy

Objective: The aim of this assignment is to demonstrate your proficiency in using Jupyter Notebook, IPython, GitHub, and particularly the Pandas library for data analysis.

### Requirements

- Create a new Jupyter Notebook. Import all necessary libraries. Initialize a new GitHub repository. Commit your Jupyter Notebook and datasets to this repository. (10 points)
- Write a brief summary of your findings. Add comments and Markdown cells in your Jupyter Notebook to explain your code and results. (10 points)

### Submission Guidelines

- Submit the GitHub repository link containing your Jupyter Notebook and datasets.
- Ensure that your code is clean, well-commented, and easily understandable.

In [12]:
import this

import numpy as np
import pandas as pd

Q1(30 point): 
Implement a class for n-sided polygons and a class for points in a Euclidean system, namely *polygon* and *point* respectively. For example, a 4-sided polygon can be defined by 4 points P1, P2, P3, P4, and
P1-P4 are each points of the form point(X,Y), and X and Y are coordinates on the X and Y axis, respectively. The edges are listed counterclockwise starting at the lower left: P1 to P2, P2 to P3, P3 to P4, and P4 to P1.  The polygon class should work for polygons of any number of edges and have a function perimeter that returns its perimeter (sum of the lengths of the edges).  (20points)

Hint: use the Pythagorian theorem: if a line segment Z starts at (X1,Y1) and ends at (X2, Y2), the length of Z is the square root of (X1-X2)^2 + (Y1-Y2)^2. 

Example:
The perimeter of the polygon/triangle on point(1,1), point(1,2), and point(2,2) is 3.4;
The perimeter of the 4-sided polygon on point(2,1), point(2,3), point(6,3), and point(4,1) is 10.8;
print out these two examples. (10points)

In [13]:
import math


class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def euclidian_distance(self, other):
        return math.sqrt((self.x - other.x) ** 2 + (self.y - other.y) ** 2)


class Polygon:
    def __init__(self, points: list[Point]):
        self.points = points

    def perimeter(self):
        perimeter_sum = 0
        point_count = len(self.points)
        for i in range(0, point_count):
            perimeter_sum += self.points[i].euclidian_distance(self.points[(i + 1) % point_count])
        return perimeter_sum


# EXAMPLES

example1 = Polygon([Point(1, 1), Point(1, 2), Point(2, 2)])
print(f"Example 1: {example1.perimeter()}")

example2 = Polygon([Point(2, 1), Point(2, 3), Point(6, 3), Point(4, 1)])
print(f"Example 2: {example2.perimeter()}")

Example 1: 3.414213562373095
Example 2: 10.82842712474619

Q2(50 point):
- Use Pandas to load both data/AIS/transit_segments.csv, and data/AIS/vessel_information.csv. Show the first 5 rows of each dataset to inspect it.(10points)
- For data/AIS/vessel_information.csv, keep only those rows with the type value occurring for at least 100 times in the dataset. (10points)
- Merge data/AIS/vessel_information.csv and data/AIS/transit_segments.csv on the "mmsi" column using outer join. (10points)
- If you are *not* allowed to call the inner join provided by Pandas but have the above outer join results, how to get the results of inner join? You can use other functions provided by Pandas (but not a function that directly implements the inner join). (10points)
- Now directly call the inner join provided by Pandas, check whether your results above are exactly the same.(10points)





Load the CSV files

In [14]:
transit_segments = pd.read_csv("data/AIS/transit_segments.csv")
vessel_information = pd.read_csv("data/AIS/vessel_information.csv")

Print out the first 5 rows in each dataframe

In [15]:
transit_segments.head()

,mmsi,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,1,Us Govt Ves,1,1,5.1,13.2,9.2,14.5,96.5,2/10/09 16:03,2/10/09 16:27
1,1,Dredge Capt Frank,1,1,13.5,18.6,10.4,20.6,100.0,4/6/09 14:31,4/6/09 15:20
2,1,Us Gov Vessel,1,1,4.3,16.2,10.3,20.5,100.0,4/6/09 14:36,4/6/09 14:55
3,1,Us Gov Vessel,2,1,9.2,15.4,14.5,16.1,100.0,4/10/09 17:58,4/10/09 18:34
4,1,Dredge Capt Frank,2,1,9.2,15.4,14.6,16.2,100.0,4/10/09 17:59,4/10/09 18:35

In [16]:
vessel_information.head()

,mmsi,num_names,names,sov,flag,flag_type,num_loas,loa,max_loa,num_types,type
0,1,8,Bil Holman Dredge/Dredge Capt Frank/Emo/Offsho...,Y,Unknown,Unknown,7,42.0/48.0/57.0/90.0/138.0/154.0/156.0,156.0,4,Dredging/MilOps/Reserved/Towing
1,9,3,000000009/Raven/Shearwater,N,Unknown,Unknown,2,50.0/62.0,62.0,2,Pleasure/Tug
2,21,1,Us Gov Vessel,Y,Unknown,Unknown,1,208.0,208.0,1,Unknown
3,74,2,Mcfaul/Sarah Bell,N,Unknown,Unknown,1,155.0,155.0,1,Unknown
4,103,3,Ron G/Us Navy Warship 103/Us Warship 103,Y,Unknown,Unknown,2,26.0/155.0,155.0,2,Tanker/Unknown



Filter out rows of elements whose types do not occur 100 or more times and print out the first 5 rows

In [17]:
vessel_information = vessel_information[vessel_information.groupby('type')["type"].transform("count") >= 100]

In [18]:
vessel_information.head()

,mmsi,num_names,names,sov,flag,flag_type,num_loas,loa,max_loa,num_types,type
2,21,1,Us Gov Vessel,Y,Unknown,Unknown,1,208.0,208.0,1,Unknown
3,74,2,Mcfaul/Sarah Bell,N,Unknown,Unknown,1,155.0,155.0,1,Unknown
5,310,1,Arabella,N,Bermuda,Foreign,1,47.0,47.0,1,Unknown
6,3011,1,Charleston,N,Anguilla,Foreign,1,160.0,160.0,1,Other
7,4731,1,000004731,N,Yemen (Republic of),Foreign,1,30.0,30.0,1,Unknown



Perform an outer join on mmsi and print out the first 5 rows

In [19]:
mmsi_outer_join = pd.merge(vessel_information,transit_segments, on="mmsi", how="outer")

In [20]:
mmsi_outer_join.head()

,mmsi,num_names,names,sov,flag,flag_type,num_loas,loa,max_loa,num_types,...,name,transit,segment,seg_length,avg_sog,min_sog,max_sog,pdgt10,st_time,end_time
0,21,1.0,Us Gov Vessel,Y,Unknown,Unknown,1.0,208.0,208.0,1.0,...,Us Gov Vessel,2,1,48.7,6.6,3.4,16.3,38.4,3/14/11 16:13,3/15/11 0:02
1,21,1.0,Us Gov Vessel,Y,Unknown,Unknown,1.0,208.0,208.0,1.0,...,Us Gov Vessel,3,1,15.1,13.7,10.0,15.1,91.8,3/18/11 11:18,3/18/11 12:26
2,21,1.0,Us Gov Vessel,Y,Unknown,Unknown,1.0,208.0,208.0,1.0,...,Us Gov Vessel,4,1,18.0,9.7,4.6,15.2,76.3,4/25/11 16:37,4/25/11 18:25
3,21,1.0,Us Gov Vessel,Y,Unknown,Unknown,1.0,208.0,208.0,1.0,...,Us Gov Vessel,5,1,11.2,12.9,6.1,15.6,80.7,5/14/11 15:51,5/14/11 16:50
4,21,1.0,Us Gov Vessel,Y,Unknown,Unknown,1.0,208.0,208.0,1.0,...,Us Gov Vessel,6,1,5.8,16.5,15.1,17.4,100.0,5/19/11 12:34,5/19/11 12:56




Drop all rows with missing element and compare. If the comparison is empty, then they are the same

In [21]:
outer_join_without_missing = mmsi_outer_join.dropna()
inner_join = pd.merge(vessel_information, transit_segments, on="mmsi")

In [22]:
outer_join_without_missing.compare(inner_join).empty

True